<div class="bg-[#111F4D]">
    <div class="drawer drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content bg-white h-full rounded-l-2xl">
        <%= yield %>
    </div>
    <div class="drawer-side text-white">
        <div class="menu min-h-full flex items-center">
        <div class="py-28">
            <img alt="rubynor logo" src="<%= asset_path('Rubynor_logo_forenklet_hvit.png') %>" class="w-96" />
        </div>

        <ul class="menu text-3xl px-24 font-semibold flex items-start gap-8">
            <li>Home</li>
            <li>Wishlist</li>
            <li>Account</li>
            <li>Settings</li>
        </ul>
        </div>
    </div>
    </div>
</div>



